@{
    Layout = "_ClientLayout";
    ViewData["Title"] = "Login";
}

@{
    bool badLogin = (ViewBag.badLogin != null);
    bool badReg = (ViewBag.badReg != null);
    bool registrado = (ViewBag.Registrado != null);
}

<div class="text-center">
    <section class="login-sec">
        <h1>Login</h1>
        @if(badReg){
            <p style="margin: 0; color: red">Hubo un error con tu acceso</p>
        }else if(registrado){
            <p style="margin: 0; color: #4BB543;"><strong>Listo!</strong> Ahora solo tenes que loguearte</p>
        }
        <form id="loginForm" action='@Url.Action("LoginFinal", "Clientes")' method="POST">
            <input type="text" name="username" placeholder="Usuario/eMail" required>
            <br>
            <input type="password" name="password" placeholder="Contraseña" required>
            @if(badLogin){
                <p style="color: red; margin: 0">Las credenciales ingresadas no son validas</p>
            }else{
                <br>
            }
            <button type="submit">Entrar</button>
        </form>
    </section>

    <script defer src="~/js/queryInfo.js"></script>
</div>