@{
    Layout = "_ClientLayout";
    ViewData["Title"] = "Login";
}

@{
    bool registrado = (ViewBag.Registrado != null);
}

<div class="text-center">
    <section class="login-sec">
        <h1>Login</h1>
        @if(registrado){
            <p style="margin: 0; color: #4BB543;"><strong>Listo!</strong> Ahora solo tenes que loguearte</p>
        }
        <form id="loginForm">
            <input type="text" id="username" placeholder="Usuario/eMail" required>
            <br>
            <input type="password" id="password" placeholder="Contraseña" required>
            <p id="alerta" style="color: red; margin: 0; display: none;">Las credenciales ingresadas no son validas</p>
            <br>
            <button type="submit">Entrar</button>
        </form>
        <img src="~/images/charging-circle.gif" id="charging" alt="charging">
    </section>

    <script src="~/js/loginForm.js"></script>
</div>