body {
    background: url("../images/bg2.jpg") no-repeat fixed top;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px; /*cambiar a vw*/
    height: 640px; /*cambiar a vh*/
    margin: 0;
    overflow: hidden;
  }
  
  /*Box con efecto blur*/
  .blur-box {
    width: 324px;
    height: 500px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    box-shadow: -2px -4px 25px rgba(0, 0, 0, 0.3);
  }
  .blur-box:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(8px);
  }
  /*Box container principal*/
  .main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  /*Form*/
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  /*Input styles*/
  input.login__input-user,
  input.login__input-password {
    width: 150px;
    height: 20px;
    opacity: 0.4;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px;
    z-index: 2;
  }
  input.login__input-user {
    margin-top: 30px;
  }
  input.login__input-password {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  /*Title*/
  .main__title {
    color: white;
    font-weight: bold;
    z-index: 1;
    font-size: 30px;
    margin: 10px 0;
  }
  /*LOGIN btn*/
  .login__btn {
    display: inline-block;
    padding: 0.6em 1.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #4d9c4d;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    border: none;
  }
  .login__btn:focus {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    outline: none;
  }
  .login__btn:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }
  
  /*Register special styles*/
  input.register__input-user,
  input.register__input-email,
  input.register__input-password {
    width: 150px;
    height: 20px;
    opacity: 0.4;
    border-radius: 2px;
    border: 0;
    padding: 5px 15px;
    z-index: 2;
    margin: 5px 0;
  }
  input.register__input-email {
    margin-bottom: 15px;
  }
  input.register__input-first {
    margin-top: 30px;
  }
  input.register__input-last {
    margin-bottom: 30px;
  }
  /*REGISTER btn*/
  .register__btn {
    display: inline-block;
    padding: 0.6em 1.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: #0275d8;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
      inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
    border: none;
  }
  .register__btn:focus {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15),
      inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    outline: none;
  }
  .register__btn:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
  }
  
  #charging{
    width: 40%;
    margin-top: 20px;
    display: none;
  }